#news-bar {
  width: 100%;
  background: white;
  border-bottom: 2px solid green;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px; }

#news-bar:hover {
  transition: 0.37s; }

#news-bar a {
  padding: 8px 2px;
  color: green;
  text-decoration: none; }

#news-bar a:hover {
  transition: 0.37s;
  color: red; }

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px); }

  /* Choice content style */

  .addClass{
    -webkit-animation: color-change 10s infinite;
    -moz-animation: color-change 10s infinite;
    -o-animation: color-change 10s infinite;
    -ms-animation: color-change 10s infinite;
    animation: color-change 10s infinite;
}
@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}

/* slideUp */
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideUp {
  0% {
    transform: translateY(100%); }
  50% {
    transform: translateY(-8%); }
  65% {
    transform: translateY(4%); }
  80% {
    transform: translateY(-4%); }
  95% {
    transform: translateY(2%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%); }
  50% {
    -webkit-transform: translateY(-8%); }
  65% {
    -webkit-transform: translateY(4%); }
  80% {
    -webkit-transform: translateY(-4%); }
  95% {
    -webkit-transform: translateY(2%); }
  100% {
    -webkit-transform: translateY(0%); } }

footer {
  color: white; }

footer a {
  color: #bfffff; }

footer a:hover {
  color: white; }

.footer-bottom {
  background: #010822 ;
  padding: 3.5em;
letter-spacing: 2px;
font-size: 10px !important ; }


.footer-bottom a{
  letter-spacing : 2px ;
  font-weight: 200 ;
  color : #b2b2b2 ;
}

.privacylinks{
  font-weight: 100 !important ;
  margin: 20px ;
}

.privacylinks span{
  color: #DC3545 ;
  font-weight: bolder ;
  font-size: 14px !important ;
  margin: auto 10px ;
}

.footer-middle {
  background : #09123A ;
  background-image: url('../img/footer.jpg');
  background-size: cover ;
  padding-top : 50px ;
  padding-bottom : 50px ;
  background-repeat: no-repeat ;
  color: white;
}

  .footer-middle h5{
    color :#fff ;
    font-weight: bolder ;
    text-align: left ;
  }

/**Sub Navigation**/
.subnavigation-container {
  background: #3d6277; }

.subnavigation .nav-link {
  color: white;
  font-weight: bold; }

.subnavigation-container {
  text-align: center; }

.subnavigation-container .navbar {
  display: inline-block;
  margin-bottom: -6px;
  /* Inline-block margin offffset HACK -Gilron */ }

.col-subnav a {
  padding: 1rem 1rem;
  color: white;
  font-weight: bold; }

.col-subnav .active {
  border-top: 5px solid orange;
  background: white;
  color: black; }

.video-thumbnail {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.video-thumbnail:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: "\f04b";
  font-family: FontAwesome;
  font-size: 100px;
  color: #dc3545;
  opacity: .8;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
.video-thumbnail:hover:before {
  color: #a92a36;
}
