$whiteColor : #F2F2F2 ;
$white : #FFFFFF ;

.navbar-brand{
	color : $whiteColor ;
}

.navbar-brand:hover{
	color : $white ;
}

.nav-link{
	color : $whiteColor ;
}

.nav-link:hover{
	color : $white ;
}
.navbar-toggler-icon{
	border : 1px solid $whiteColor ;
}
.youfirst{
	width : inherit ;
}
.principal{
	width : inherit ;
	height : 100% ;
}
.jumbomain{
	background-color : $white !important ;
	position: relative ;
}

.jumbomain:after{
	position:absolute;
	content: '' ;
	width: 100% ;
	height: 100px ;
	top: 80% ;
	left: 0 ;
	right: 0 ;
	bottom: 0 ;
	background: #FFFFFF ;
	transform-origin: top right;
	transform: skewY(-4deg);
}
.takenote{
	background:#FFFFFF ;
	position : relative ;
	text-align : center ;
}
.empowerment{
	text-align : center ;
	margin : 0px ;
	margin-top : 50px ;
	padding : 50px 40px ;
	background-image : url('./../images/grass.png') ;
	background-position : center ;
	background-size : cover ;
	background-repeat : no-repeat ;	
}

.powermentZone{
	padding-top: 4% ;	
}

.captionText{
	text-align : center ;
}

.join{
	border : 1px solid #b2b2b2 ;
	border-radius : 3px ;
	margin : auto ;
	margin-top : 15px ;
	padding : 15px 12px ;
	width:50% ;
	cursor : pointer ;
	-webkit-transition: background-color  0.5s ease-out,  color 0.5s ease-out;;
    -moz-transition: background-color  0.5s ease-out,  color 0.5s ease-out;;
    -o-transition: background-color  0.5s ease-out,  color 0.5s ease-out;;
    transition: background-color  0.5s ease-out,  color 0.5s ease-out;;
}

.join:hover{
	  background-color: #09123A;
	  color : $white ;
  	  cursor: pointer;
}

.sec2{
	padding : 50px 40px ;
	background-color : #0D3B20 ;
	padding-bottom : 0px ;
	background-image : url('./../images/bg.png') ;
}

.sec2body{
    position : relative ;
	padding-top : 50px ;
	background-color: #fff ; 
	border:1px solid #000 ;
	-webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    margin-bottom : 50px ;
}

.sec3{
	padding : 50px 40px ;
	background-color : #0D3B20 ;

}

.sec3body{
	display : block ;
}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }
.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.play{
	width : 50% ;
	display : inline-block ;
}
.video-btn{
	width : 50% ;
	border-radius : 0 ;
}

#news-bar {
  width: 100%;
  background:white;
  border-bottom : 2px solid green ;
  font-size: 14px ;
  padding-left: 20px;
  padding-right: 20px;
}

#news-bar:hover {
  transition: 0.37s;
}

#news-bar a {
  padding:8px 2px;
  color: green;
  text-decoration: none;
}

#news-bar a:hover {
  transition: 0.37s;
  color: red;
}


/* Pop */

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Float */

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


/* slideUp */

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%)
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(-8%);
  }
  65% {
    -webkit-transform: translateY(4%);
  }
  80% {
    -webkit-transform: translateY(-4%);
  }
  95% {
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}


footer{
  color: white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
  color: white;
}

.footer-bottom{
  background: #09123A;
  padding: 2em;
}
.footer-middle{
   background: #16A085;
  padding-top: 2em;
  color: white;
}
/**Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
.col-subnav .active{
  border-top:5px solid orange;
 background: white;
  color: black;
}